{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Patrol Deployment
      <small>Planning Dashboard</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Patrol Deployment</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3 id="kpi-coverage">--<sup style="font-size: 20px">%</sup></h3>
          <p>of Predicted Crimes Covered</p>
      </div>
      <div class="icon">
          <i class="fa fa-crosshairs"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3 id="kpi-fairness">--<sup style="font-size: 20px">%</sup></h3>

      <p>Patrol Deployment Fairness</p>
  </div>
  <div class="icon">
      <i class="fa fa-balance-scale"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3 id="kpi-distance">---</h3>

      <p>Total Miles of Patrol Drive</p>
  </div>
  <div class="icon">
      <i class="ion ion-map"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->

<!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-5 connectedSortable">
      <!-- Map box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
              <i class="fa fa-calendar"></i></button>
              <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Crime Coverage Map View
            </h3>
        </div>
        <div class="box-body">
          <div id="world-map" style="height: 500px; width: 100%;"></div>
      </div>
      <!-- /.box-body-->

    </div>
    <!-- /.box -->

</section>

<!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
<section class="col-lg-7 connectedSortable">

  <div class="box box-info">
      <div class="box-header">
        <i class="fa fa-cab"></i>

        <h3 class="box-title">Deployment Planning</h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
          <!--
          <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
          -->
        </div>
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <form action="#" method="post">
          <div class="form-group">
            <label for="district">Police District</label>
            <select class="form-control" name="district" placeholder="Select the police district from where to deploy" id="selector-district">
              <option>-</option>
            </select>
        </div>
        <div class="form-group">
            <label for="community">Community</label>
            <select class="form-control" name="community" placeholder="Select the community to deploy to/undeploy from" id="selector-community">
              <option>-</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nunits">Number of Units to Deploy/Undeploy</label>
            <input type="text" class="form-control" name="nunits" placeholder="0" id="input-units">
        </div>
    </form>
  </div>
  <div class="box-footer clearfix">
    <button type="button" class="pull-right btn btn-default" id="btn-save">Save Deployment Plan
      <i class="fa fa-arrow-circle-right"></i></button>
    <button type="button" class="pull-right btn btn-default" id="btn-optimize">Run Optimization
      <i class="fa fa-arrow-circle-right"></i></button>
    <button type="button" class="pull-right btn btn-default" id="btn-undeployPatrols">Un-deploy Patrols
      <i class="fa fa-arrow-circle-right"></i></button>
    <button type="button" class="pull-right btn btn-default" id="btn-deployPatrols">Deploy Patrols
      <i class="fa fa-arrow-circle-right"></i></button>
  </div>
  <div class="box-footer no-border">
      <div class="row">
        <div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
          <div class="clearfix" style="color: black">
            <span class="pull-left" id="status-message"> </span>
            <small class="pull-right" id="status-pct">0%</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-green" style="width: 0%;" id="status-bar"></div>
        </div>
      </div>
      <!-- ./col -->
  </div>
  <!-- /.row -->
  </div>
  </div>

</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Flask-Admin example</h1>
            <p class="lead">
                Authentication
            </p>
            <p>
                This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
